$black: #000;

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .6;
  background: $black;
  width: 100%;
  height: 100%;
}

%drop-in-base {
  $border-radius-val: 11px;
  border-radius: $border-radius-val;
  background: #eee;
  text-align: center;
  line-height: 200px;
  color: #aaa;
  font-size: 300%;

  -webkit-border-radius: $border-radius-val;
  -moz-border-radius: $border-radius-val;
}

.dropArea {
  @extend %drop-in-base;
  display: none;
  position: fixed;
  z-index: 10;
  margin: 0;
  width: 95%;
  height: 95%;

  &.dropping {
    display: block;
  }
}


.dropDescription {
  @extend %drop-in-base;
  display: block;
  width: 100%;
  height: 20%;
}

.exifInfo {
  float: left;
  width: 50%;
  height: 100%;
  overflow: scroll;

  tr {
    &:nth-of-type(odd) {
      background-color: ghostwhite;
    }
  }
}

.exifHeader {
  width: 20em;
  font-weight: bold;
}

.previewArea {
  float: left;
  width: 50%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
